<?xml version="1.0" encoding="UTF-8"?>
<interface>
  <menu id="app_menu">
    <section>
      <item>
        <attribute name="label" translatable="yes">終了</attribute>
        <attribute name="action">app.quit</attribute>
      </item>
    </section>
  </menu>
  <menu id="menu_bar">
    <submenu>
      <attribute name="label" translatable="yes">通信</attribute>
      <section>
        <item>
          <attribute name="label" translatable="yes">バージョン取得</attribute>
          <attribute name="action">app.rpc_version</attribute>
        </item>
      </section>
    </submenu>
  </menu>
</interface>
